/** @format */

//Colors
$gold: #f1a90f;
$health: #cc382e;
$brown: rgba(107, 49, 16, 0.965);
$green: #4caf50;
$shadow: rgba(0, 0, 0, 0.15);
$black: black;
$white: white;

//Breakpoints
$desktop: 1200px;
