/** @format */

@use "../partials/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

.game-over-screen {
  display: flex;
  text-align: center;
  height: 58rem;
  width: 100%;
  color: $gold;
  align-content: center;
  flex-direction: column;

  h1 {
    background: linear-gradient(to right, $gold, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    padding-right: 0.3rem;
    margin: 0 0 1rem 0;
  }

  p {
    font-size: 1.5rem;
    color: $gold;
  }

  button {
    background-color: $gold;
    color: $brown;
    border: none;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    border-radius: 0.8rem;
    margin-bottom: 1rem;

    &:hover {
      background-color: $gold;
    }
  }
}
